<div id='search-modal-mobile' class='modal_mobile'>

    <div class='modal-content_mobile'>
        <form class='search-form_mobile'>
            <div class='search-form_mobile__header'>
                <span class='search-form_mobile__title'>Search</span>
                <button
                    class='search-form_mobile__close-button'
                    id='close-modal-btn-mobile'
                    type='button'
                >&times;</button>
            </div>
            <div class='input-container_mobile'>
            <input
                type='text'
                class='input-container_mobile__field'
                placeholder='Search...'
            />
            <button
                class='input-container_mobile__submit'
                type='submit'
                id='search-submit'
                name='search-btn-mobile'
            >Search</button>
            </div>
        </form>
    </div>

</div>
