/* The Modal (background) */
$primary-color: #ff7b47;
$secondary-color: #ffb654;
$muted-color: #bdbdbd;
$second-text-color: #737373;
$light-text-color: #ffffff;
$text-color: #252b42;
.modal {
    display: none;
    visibility: visible; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    transition: 2s ease-in;
}
.show {
    display: flex; /* Hidden by default */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    height: 100px;
    max-height: 200px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%; /* Could be more or less, depending on screen size */
    transition: 2s ease-in;
}

.search-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;
    .search-form-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
        >.search-form-header__text {
            margin: 0;
        }
        .search-form-header__close-button {
            background: none;
            border: none;
            font-weight: bold;
            font-size: 26px;
            &:hover {
                color: #bdbdbd;
            }
        }
    }
    .input-container {
        display: flex;
        justify-content: space-between;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        padding: 5px;
        .input-container__field {
            padding: 10px;
            height: 10px;
            width: 80%;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
    .input-container__submit {
        background: url('./img/navbar/modal-search-icon.svg');
        border: none;
        height: 30px;
        width: 30px;
        cursor: pointer;
        &:hover {
            background: url('./img/navbar/modal-search-icon-light.svg');
            transition: 0.2s ease-in;
        }
    }
}
