.navbar {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;

    .company-name {
        @media screen and (min-width: 1440px) {
            margin-left: 250px;
        }
    }
    .navbar-links {
        margin-left: 450px;
        display: flex;
        width: 338px;
        justify-content: space-between;
        @media screen and (min-width: 1440px) {
            margin-right: 250px;
        }
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    .link-container {
        font-size: 14px;
        width: 300px;
        display: flex;
        justify-content: space-between;
    }

    .search-button {
        background: url('img/search-icon-small.svg');
        height: 16px;
        width: 16px;
        border: none;
        margin-right: 5px;
        cursor: pointer;
    }

    .card-link {
        background: url('img/card-icon-small.svg');
        height: 12px;
        width: 16px;
    }
    .btn-container-desktop {
        margin-left: 20px;
        display: flex;
        width: 60px;
        justify-content: space-between;
        @media screen and (max-width: 412px) {
            display: none;
        }
    }
    .menu-button {
        display: none;
    }
    @media screen and (max-width: 412px) {
        display: none;
    }
}
