<div class="top-menu-wrapper">
<h2 class="company-name-mobile">PublishHouse</h2>
<div class="btn-container-mobile">
    <button class='search-button-mobile' id='search-btn'></button>
    <a href="#" class="card-link-mobile"></a>
    <button class="menu-button" id='menu-btn'></button>
    </div>
</div>
<div class="link-container" id="link-container">
<a href="#" class="home-link">Home</a>
<a href="#" class="product-link">Product</a>
<a href="#" class="pricing-link">Pricing</a>
<a href="#" class="contact-link">Contact</a>
</div>

