<h2 class="company-name">PublishHouse</h2>

<div class="navbar-links">
    
{{#navbar-links}}{{>./navbar-links}}{{/navbar-links}}
{{#search-modal}}{{>./search-modal/search-modal}}{{/search-modal}}
</div>

