.navbar {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;

    .company-name {
        margin-left: 190px;
    }
    .navbar-links {
        margin-right: 180px;
        display: flex;
        width: 312px;
        justify-content: space-between;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    .search-button {
        background: url('img/search-icon.svg');
        height: 16px;
        width: 16px;
        border: none;
        cursor: pointer;
    }

    .card-link {
        background: url('img/card-icon.svg');
        height: 12px;
        width: 16px;
    }
}
