
{{>../public/title titleText = "Meet Our Team" titleDesctiption = "Problems trying to resolve the conflict between the two major realms of
        Classical physics: Newtonian mechanics"}}
<div class="worker-cards-container">
{{#each workers}}
{{>./worker-card/worker-card}}
{{/each}}</div>