.our-team-section {
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 412px) {
        height: 1600px;
    }
    .our-team-title {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-weight: bold;
        .our-team-title-text {
            font-size: 40px;
        }
        .our-team-title-description {
            text-align: center;
            font-size: 14px;
            width: 70%;
            text-decoration: none;
        }
    }
    .worker-cards-container {
        margin-top: 80px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 412px) {
            height: 1200px;
            flex-direction: column;
        }
    }
}