.reviews-section {
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 412px) {
        height: 1200px;
    }
    .reviews-title {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-weight: bold;
        .reviews-title-text {
            font-size: 40px;
            text-align: center;
        }
        .reviews-title-description {
            text-align: center;
            font-size: 14px;
            width: 70%;
            text-decoration: none;
        }
    }
    .review-cards-container {
        margin-top: 80px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 412px) {
            height: 800px;
            flex-direction: column;
        }
    }
}
