{{>../public/title titleText = "What Clients Say" titleDesctiption = "Problems trying to resolve the conflict between the two major realms of
        Classical physics: Newtonian mechanics"}}

<div class="reviews__review-cards-container">
    {{#each reviews}} 
    {{>./review-card/review-card}}
    {{/each}}
</div>