.reviews-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 650px;
    width: 100%;
    @media screen and (max-width: 412px) {
        min-height: 1200px;
    }
    @media screen and (max-width: 812px) {
        min-height: 1200px;
    }
    .reviews-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        color: white;
        font-weight: bold;
        .reviews-title-text {
            font-size: 40px;
            text-align: center;
        }
        .reviews-title-description {
            text-align: center;
            font-size: 14px;
            width: 70%;
            text-decoration: none;
        }
    }
    .review-cards-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        @media screen and (max-width: 412px) {
            height: 800px;
            flex-direction: column;
        }
        @media screen and (max-width: 812px) {
            align-items: center;
            height: 1200px;
            flex-direction: column;
        }
    }
}
