<div class='quote-getting-container'>
    <h1>Finance and consultancy solution</h1>
    <h4>We know how large objects will act,but things on a small scale.</h4>

    <div class='button-field'>
        <button class='get-quote-btn'>Get Quote Now</button>
        <button class='learn-more-btn'>Learn more</button>
    </div>
</div>
<form class='appointment-booking-form'>
    <h2>Book Appointment</h2>
        <div class='booking-option'>
            <p class='booking-option-text'>Name*</p>
            <input
                type='text'
                class='booking-option-input'
                placeholder='Full Name'
            />
        </div>
        <div class='booking-option'>
            <p class='booking-option-text'>Email*</p>
            <input
                type='text'
                class='booking-option-input'
                placeholder='example@gmail.com'
            />
        </div>
        <div class='booking-option'>
            <p class='booking-option-text'>Department*</p>
            <select
                type='text'
                class='booking-option-select'
                placeholder='example@gmail.com'
            >
            <option value="" disabled selected class="select-placeholder">Please, select</option>
            </select>
        </div>
        <div class='booking-option'>
            <p class='booking-option-text'>Time*</p>
            <select
                type='text'
                class='booking-option-select'
                placeholder='example@gmail.com'
            /> <option value="" disabled selected   class="select-placeholder">4:00, Aviable</option></select>
    </div>
    <button type='submit' class="appointment-submit-btn">Book Appointment</button>
</form>