<div class='review-card'>
    <div class='review-rating'>
        <div class="rating-stars"></div>
    </div>
    <p class='review-text'>{{reviewText}}</p>
    <div class='reviewer-profile'>
        <div
            class='reviewer-photo'
            style='background: url({{reviewer.profileURL}});background-size: cover;'
        ></div>
        <div class='reviewer-data'>
            <a href="#" class='reviewer-name'>{{reviewer.name}}</a>
            <strong class='reviewer-profession'>{{reviewer.profession}}</strong>
        </div>
    </div>
</div>  