.review-card {
    height: 212px;
    width: 327px;
    border-radius: 5px;
    background: #fff;
    padding: 32px;
    margin-top: 30px;
    @media screen and (max-width: 412px) {
        width: 70%;
        height: 180px;
    }
    .review-rating {
        height: 50px;
        width: 100%;

        .rating-stars {
            height: 22px;
            width: 110px;
            background: url('img/review-section/stars.svg');
        }
    }
    .review-text {
        font-size: 14px;
        font-weight: bold;
        color: #737373;
    }
    .reviewer-profile {
        display: flex;
        align-items: center;
        margin-top: 20px;
        .reviewer-photo {
            height: 50px;
            width: 50px;
            // background: url('img/reviewer1.png');
            background-size: contain;
        }
        .reviewer-info {
            display: flex;
            flex-direction: column;
            margin-left: 15px;

            .reviewer-name {
                font-weight: bold;
                color: #ff7b47;
                text-decoration: none;
            }
            .reviewer-profession {
                margin-top: 5px;
                font-size: 14px;
            }
        }
    }
}
