<div class='review-card'>
        <div class="review-card__rating"></div>
    <p class='review-card__text'>{{reviewText}}</p>
    <div class='review-card__reviewer-profile'>
        <div
            class='review-card__profile-photo'
            style='background: url({{reviewer.profileURL}});background-size: cover;'
        ></div>
        <div class='review-card__reviewer-info'>
            <a href="#" class='review-card__reviewer-name'>{{reviewer.name}}</a>
            <span class='review-card__reviewer-profession'>{{reviewer.profession}}</span> 
        </div>
    </div>
</div>  