<div class='review-card'>
    <div class='review-rating'>
        <div class="rating-stars"></div>
    </div>
    <p class='review-text'>{{reviewText}}</p>
    <div class='reviewer-profile'>
        <div
            class='reviewer-photo'
            style='background: url({{reviewer.profileURL}});background-size: cover;'
        ></div>
        {{!--  all card is a href --}}
        <div class='reviewer-info'>
            <a href="#" class='reviewer-name'>{{reviewer.name}}</a>
            {{!-- remove strong to span --}}
            <strong class='reviewer-profession'>{{reviewer.profession}}</strong> 
        </div>
    </div>
</div>  