<footer class="contact-us-footer">
    <div class="footer-title">
        <h1 class="footer-title-main">Consulting Agency For Your Business</h1>
        <p class="footer-title-text">the quick fox jumps over the lazy dog</p>
    </div>
    <button class="contact-btn">Contact Us</button>
</footer>