<form class='contact-us-form'>
    <div class='contact-form-title'>
        <h4 class='upper-title-text'>Contact Us</h4>
        <h1 class='main-title-text'>Make an appointment</h1>
    </div>
    <div class="contacts-container">
            <input
                type='text'
                class='booking-option-input'
                placeholder='Full Name'
            />
            <input
                type='text'
                class='booking-option-input'
                placeholder='example@gmail.com'
            />
            <select
                type='text'
                class='booking-option-select'
                placeholder='example@gmail.com'
            >
            <option value="" disabled selected class="select-placeholder">Please, select</option>
            </select>
            <select
                type='text'
                class='booking-option-select'
                placeholder='example@gmail.com'
            >
             <option value="" disabled selected   class="select-placeholder">4:00, Aviable</option>
            </select>
    </div>
    <textarea class="contact-message" placeholder="Message"></textarea>
    <button type="submit" class="appointment-submit-btn">Book Appointment</button>
</form>