<div class="contact-us-bottom">
    <div class="bottom-title">
        <h2 class="bottom-title-main">Consulting Agency For Your Business</h2>
        <p class="bottom-title-text">the quick fox jumps over the lazy dog</p>
    </div>
    <button class="contact-btn">Contact Us</button>
</div>