 <div class='contact-us__inner-text'>
        <span class='contact-us__title-text'>Contact Us</span>
        <h2 class='contact-us__main-title-text'>Make an appointment</h2>
    </div>
<form class='contact-form'>
   
    <div class="contact-form__contacts-container">
            <input
                type='text'
                class='contact-form__input'
                placeholder='Full Name'
            />
            <input
                type='text'
                class='contact-form__input'
                placeholder='example@gmail.com'
            />
            <select
                type='text'
                class='contact-form__select'
                placeholder='example@gmail.com'
            >
            <option value="" disabled selected class="select-placeholder">Please, select</option>
            </select>
            <select
                type='text'
                class='contact-form__select'
                placeholder='example@gmail.com'
            >
             <option value="" disabled selected   class="select-placeholder">4:00, Aviable</option>
            </select>
    </div>
    <textarea class="contact-form__message" placeholder="Message"></textarea>
    <button type="submit" class="contact-form__submit-btn">Book Appointment</button>
</form>