<div class="contact-us-bottom">
    <div class="contact-us-bottom__title">
        <h2 class="contact-us-bottom__main">Consulting Agency For Your Business</h2>
        <p class="contact-us-bottom__text">the quick fox jumps over the lazy dog</p>
    </div>
    <button class="contact-us-bottom__contact-btn">Contact Us</button>
</div>