<form class='appointment-booking-form'>
    <h2>Book Appointment</h2>
        <div class='booking-option'>
            {{!-- Label --}}
            <label class='booking-option-text'>Name*</label>
            <br>
            <input
                type='text'
                class='booking-option-input'
                placeholder='Full Name'
            />
        </div>
        <div class='booking-option'>
            {{!-- type = email complete --}}
            <label class='booking-option-text'>Email*</label>
            <br>
            <input
                type='email' required
                class='booking-option-input'
                placeholder='example@gmail.com'
            />
        </div>
        <div class='booking-option'>
            <label class='booking-option-text'>Department*</label>
            <br>
            <select
                type='text'
                class='booking-option-select'
                placeholder='example@gmail.com'
            >
            <option value="" disabled selected class="select-placeholder">Please, select</option>
            </select>
        </div>
        <div class='booking-option'>
            <label class='booking-option-text'>Time*</label>
            <br>
            <select
                type='text'
                class='booking-option-select'
                placeholder='example@gmail.com'
            /> <option value="" disabled selected   class="select-placeholder">4:00, Aviable</option></select>
    </div>
    <button type='submit' class="appointment-submit-btn">Book Appointment</button>
</form>