.appointment-section {
    height: 823px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/appointment-section/appointment-section-background.png') no-repeat;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @media screen and (max-width: 412px) {
        margin-top: 0;
        flex-direction: column;
        height: 1500px;
        background-size: 3300px;
    }
}

// .appointment-main {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
// }

.quote-getting-container {
    margin-right: 200px;
    width: 400px;
    color: white;
    h1 {
        font-weight: 5000;
        font-size: 58px;
    }

    .get-quote-btn {
        font-weight: 700;
        font-size: 14px;
        color: white;
        width: 185px;
        height: 48px;
        border-radius: 37px;
        padding: 10px, 36px;
        background: #ff7b47;
        border: none;
        &:hover {
            background: #ffb654;

            transition: 0.2s ease-in;
        }
    }
    .learn-more-btn {
        background: transparent;
        width: 154px;
        height: 48px;
        padding: 10px, 36px;
        border: 1px solid white;
        border-radius: 37px;
        font-weight: 700;
        font-size: 14px;
        color: white;
        &:hover {
            background: #ffb654;
            border: none;
            transition: 0.2s ease-in;
        }
        @media screen and (max-width: 412px) {
            margin-top: 25px;
        }
    }
    @media screen and (max-width: 412px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        h1 {
            text-align: center;
            font-weight: 5000;
            font-size: 40px;
        }
        .button-field {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h4 {
            text-align: center;
            width: 260px;
            font-size: 20px;
        }
    }
}

.appointment-booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border-radius: 10px;
    padding: 43px;
    .booking-option-text {
        font-weight: bold;
        font-size: 14px;
    }

    .booking-option-input {
        font-weight: bold;
        width: 202px;
        height: 28px;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
        padding: 11px 21px;
    }

    .booking-option-select {
        width: 244px;
        height: 50px;
        padding: 0 20px;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
        background:#fff ;
    }
    background-color: #fff;
    h2 {
        font-weight: bold;
    }

    .appointment-submit-btn {
        margin-top: 40px;
        background: #ff7b47;
        color: white;
        border: none;
        height: 58px;
        width: 240px;
        border-radius: 5px;
        padding: 15px, 40px;
        &:hover {
            background: #ffb654;
            transition: 0.2s ease-in;
        }
    }
}
