<div class='quote-getting'>
    <h1 class="quote-getting__main-text">Finance and consultancy solution</h1>
    <span class="quote-getting__bottom-text">We know how large objects will act, but things on a small scale.</span>

    <div class='quote-getting__button-field'>
        <button class='quote-getting__get-quote-btn'>Get Quote Now</button>
        <button class='quote-getting__learn-more-btn'>Learn more</button>
    </div>
</div>
{{#appointment-booking-form}}{{>./appointment-booking-form}}{{/appointment-booking-form}}

{{!-- HEIGT --}}