<div class='quote-getting-container'>
    <h1>Finance and consultancy solution</h1>
    <h4>We know how large objects will act,but things on a small scale.</h4>

    <div class='button-field'>
        <button class='get-quote-btn'>Get Quote Now</button>
        <button class='learn-more-btn'>Learn more</button>
    </div>
</div>
{{#appointment-booking-form}}{{>./appointment-booking-form}}{{/appointment-booking-form}}