<form class='booking-form'>
    <h2>Book Appointment</h2>
        <div class='booking-form__option'>
            <label class='booking-form__option-label'>Name*</label>
            <br>
            <input
                type='text'
                class='booking-form__input-field'
                placeholder='Full Name'
            />
        </div>
        <div class='booking-form__option'>
            <label class='booking-form__option-label'>Email*</label>
            <br>
            <input
                type='email' required
                class='booking-form__input-field'
                placeholder='example@gmail.com'
            />
        </div>
        <div class='booking-form__option'>
            <label class='booking-form__option-label'>Department*</label>
            <br>
            <select
                type='text'
                class='booking-form__select'
                placeholder='example@gmail.com'
            >
            <option value="" disabled selected class="select-placeholder">Please, select</option>
            </select>
        </div>
        <div class='booking-form__option'>
            <label class='booking-form__option-label'>Time*</label>
            <br>
            <select
                type='text'
                class='booking-form__select'
                placeholder='example@gmail.com'
            /> <option value="" disabled selected   class="select-placeholder">4:00, Aviable</option></select>
    </div>
    <button type='submit' class="booking-form__submit">Book Appointment</button>
</form>