<div class='worker-cards-container__worker-card'>
    <div class='worker-card__worker-photo' style="background: url({{photoURL}}) no-repeat; background-size: cover;
        background-attachment: scroll;"></div>
    <div class='worker-card__worker-info'>
        <span class='worker-card__worker-name'>{{name}}</span>
        <p class='worker-card__worker-position'>{{position}}</p>
        <div class='worker-card__worker-contacts'>
            <a href='#' class='worker-card__worker-contact' id="facebook"> facebook</a>
            <a href='#' class='worker-card__worker-contact' id="insta">insta</a>
            <a href='#' class='worker-card__worker-contact' id="twitter">twitter</a>
        </div>
    </div>
</div>