<div class='significance-title'>
    <h1>Every Client Matters</h1>
    <p>Problems trying to resolve the conflict between the two major realms of
        Classical physics: Newtonian mechanics</p>
</div>
<main class="benefits-container">

</main>