<div class='links-container'>
    <a href='#' class='links-container__ref'>Home</a>
    <a href='#' class='links-container__ref'>Product</a>
    <a href='#' class='links-container__ref'>Pricing</a>
    <a href='#' class='links-container__ref'>Contact</a>
</div>
<div class='btn-container'>
    <button class='btn-container__search-button search-button_small ' id='search-btn' name='search-button' aria-label="search-button"></button>
    <a href='#' class='btn-container__card-link card-link_small' aria-label="card-link"></a>
</div>