$primary-color: #ff7b47;
$secondary-color: #ffb654;
$muted-color: #bdbdbd;
$second-text-color: #737373;
$light-text-color: #ffffff;
$text-color: #252b42;

.navbar-mobile {
    display: none;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: 412px) {
        display: flex;
    }
    .top-menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .company-name-mobile {
            color: $light-text-color;
            margin-left: 20px;
        }

        .btn-container-mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 32%;
            margin-right: 20px;
            .search-button-mobile {
                background: url('img/navbar/search-icon-big.svg');
                height: 24px;
                width: 24px;
                border: none;
            }
            .card-link-mobile {
                background: url('img/navbar/card-icon-big.svg');
                width: 24px;
                height: 23px;
            }
            .menu-button {
                background: url('img/navbar/menu-icon-small.svg');
                width: 24px;
                height: 14px;
                border: none;
            }
        }
    }
    .link-container {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: $light-text-color;
        height: 250px;
        padding-bottom: 50px;
        a {
            color: $light-text-color;
            text-decoration: none;
            font-weight: 700;
            font-size: 24px;
        }
    }
    .show {
        display: flex;
    }
}
