<nav class="navbar-mobile">
<div class="top-menu-wrapper">
<div class="btn-container-mobile">
    <button class='btn-container-mobile__search-button_big' id='search-btn-mbl' aria-label="search-button"></button>
    <a href="#" class="btn-container-mobile__card-link_big"></a>
    <button class="btn-container-mobile__menu-button" id='menu-btn' aria-label="menu-button"></button>
    </div>
</div>
<div class="links-container_mobile" id="link-container">
<a href="#" class="links-container_mobile__ref">Home</a>
<a href="#" class="links-container_mobile__ref">Product</a>
<a href="#" class="links-container_mobile__ref">Pricing</a>
<a href="#" class="links-container_mobile__ref">Contact</a>
</div>
{{>./search-modal/search-modal-mobile}}
</nav>