<div class='link-container'>
    <a href='#' class='navbar-link'>Home</a>
    <a href='#' class='navbar-link'>Product</a>
    <a href='#' class='navbar-link'>Pricing</a>
    <a href='#' class='navbar-link'>Contact</a>
</div>
<div class='btn-container-desktop'>
    <button class='search-button' id='search-btn' name='search-button' aria-label="search-button"></button>
    <a href='#' class='card-link' aria-label="card-link"></a>
</div>