$primary-color: #ff7b47;
$secondary-color: #ffb654;
$muted-color: #bdbdbd;
$second-text-color: #737373;
$light-text-color: #ffffff;
$text-color: #252b42;
.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    position: fixed;
    color: white;
    height: 60px;
    > .company-name {
        font-size: 24px;
        font-weight: bold;
        margin-left: 18%;
    }
    @media screen and(max-width:412px) {
        width: 100%;
        height: auto;
        min-height: 60px;
        background-color: #252b42;
        > .company-name {
            display: none;
        }
        justify-content: space-around;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: $light-text-color;
        margin-right: 18%;
        z-index: 21321;
        .navbar-links {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 458px;
        }

        a {
            font-weight: 600;
            color: white;
            text-decoration: none;
            font-size: 14px;
            &:hover {
                color: $muted-color;
            }
        }
        .link-container {
            list-style: none;
            font-weight: bold;
            font-size: 14px;
            width: 300px;
            display: flex;
            justify-content: space-between;
        }

        .search-button {
            background: url('img/navbar/search-icon-small.svg');
            height: 16px;
            width: 16px;
            border: none;
            margin-right: 5px;
            cursor: pointer;
        }

        .card-link {
            background: url('img/navbar/card-icon-small.svg');
            height: 15px;
            width: 16px;
        }
        .btn-container-desktop {
            margin-left:px;
            display: flex;
            width: 60px;
            justify-content: space-between;
            @media screen and (max-width: 412px) {
                display: none;
            }
        }
        .menu-button {
            display: none;
        }
        @media screen and (max-width: 412px) {
            display: none;
        }
    }
}
.header-colored {
    background-color: #252b42;
    transition: 0.2s ease-in;
}
.header-transparent {
    background-color: transparent;
    transition: 0.2s ease-in;
}
