{{! div to ul }}

<ul class='link-container'>
    <a href='#' class='home-link'>Home</a>
    <a href='#' class='product-link'>Product</a>
    <a href='#' class='pricing-link'>Pricing</a>
    <a href='#' class='contact-link'>Contact</a>
</ul>
<div class='btn-container-desktop'>
    <button class='search-button' id='search-btn' name='search-button'></button>
    <a href='#' class='card-link'></a>
</div>