<div class='links-container navbar__links-container'>
    <a href='#' class='links-container__ref'>Home</a>
    <a href='#' class='links-container__ref'>Product</a>
    <a href='#' class='links-container__ref'>Pricing</a>
    <a href='#' class='links-container__ref'>Contact</a>
</div>
<div class='navbar-links__btn-container'>
    <button class='navbar-links__search-button navbar-links__search-button_small ' id='search-btn' name='search-button' aria-label="search-button"></button>
    <a href='#' class='navbar-links__card-link navbar-links__card-link_small' aria-label="card-link"></a>
</div>