<nav class="navbar navbar_mobile">
    <div class="navbar_mobile__btn-container">
        <button class='navbar_mobile__search-button navbar_mobile__search-button_big' id='search-btn-mbl' aria-label="search-button"></button>
        <a href="#" class="navbar_mobile__card-link navbar_mobile__card-link_big"></a>
        <button class="navbar_mobile__menu-button" id='menu-btn' aria-label="menu-button"></button>
    </div>
<div class="links-container navbar_mobile__links-container" id="link-container">
    <a href="#" class="links-container__ref">Home</a>
    <a href="#" class="links-container__ref">Product</a>
    <a href="#" class="links-container__ref">Pricing</a>
    <a href="#" class="links-container__ref">Contact</a>
</div>
{{>./search-modal/search-modal-mobile}}
</nav>