$primary-color: #ff7b47;
$secondary-color: #ffb654;
$muted-color: #bdbdbd;
$second-text-color: #737373;
$light-text-color: #ffffff;
$text-color: #252b42;

.navbar_mobile {
    display: none;
    flex-direction: column;
    margin: 0;
    width: 30%;
    @media screen and (max-width: 820px) {
        display: flex;
    }
    &__btn-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__search-button_big {
        background: url('./img/navbar/search-icon-big.svg');
        height: 24px;
        width: 24px;
        border: none;
    }
    &__card-link_big {
        background: url('./img/navbar/card-icon-big.svg');
        width: 24px;
        height: 23px;
    }
    &__menu-button {
        background: url('./img/navbar/menu-icon-small.svg');
        width: 24px;
        height: 14px;
        border: none;
    }
    &__links-container {
        display: none;
        flex-direction: column;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $muted-color;
        color: $light-text-color;
        height: 250px;
        width: 100%;
        margin-top: 360px;
        background: $text-color;
        padding: 20px 0 50px 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .links-container__ref {
        color: $light-text-color;
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;
    }
}

.show {
    display: flex;
}
