@use './appointment-section/appointment-section';
@use './reviews/review-card/review-card';
@use './our-team/our-team-section';
@use './our-team/worker-card/worker-card';
@use './reviews/reviews-section';
@use './client-significance/benefit-card/benefit-card';
@use './client-significance/client-significance.scss';
@use './navbar/search-modal/search-modal-mobile';
@use './navbar/navbar-mobile';
@use './navbar/navbar';
@use './public/title';
@use './contact-us/contact-us-section';
@use './about-us/about-us-section';
@use './navbar/search-modal/search-modal';
@use './footer/footer-section';
@import url('https://vjs.zencdn.net/7.17.0/video-js.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 1440px;
    margin: 0;
    padding: 0;
    background-color: #252b42;
    @media screen and (max-width: 412px) {
        max-width: 412px;
    }
}
