@use 'video-js';
.about-us-section {
    min-height: 759px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgb(26, 26, 49) 50%,
        rgba(37, 43, 66, 1) 50%
    );
    @media screen and (max-width: 820px) {
        min-height: 900px;
    }

    .about-us-section__video {
        background-size: 1100px;
        height: 400px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 820px) {
            width: 80%;
        }
    }
    .vjs-poster {
        background: url('./img/about-us/about-us-video-preview.webp');
    }
    .video-js .vjs-big-play-button {
        background-color: transparent;
        border: none;
        background: url('./img/about-us/about-us-video-play.svg');
        height: 99px;
        width: 99px;
        .vjs-icon-placeholder {
            &::before {
                content: '';
            }
        }
    }
}
