{{!-- <video controls class='about-us-video'>
    <source src='https://www.w3schools.com/html/mov_bbb.mp4' type='video/mp4' />
</video> --}}
{{!-- <video
    id="my-video"
    class="vjs-matrix video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="img/about-us/about-us-video-preview.jpg"
    data-setup="{}"
  >
    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4" />
    </p>
</video> --}}
  <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px"
      controls preload="none" poster='http://video-js.zencoder.com/oceans-clip.jpg'
      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
    <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
    <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
  </video>