<div class="about-us-title">
    <h1 class="about-us-title-text">Who we are</h1>
    <p class="about-us-title-description">Problems trying to resolve the conflict between 
the two major realms of Classical physics: Newtonian mechanics </p>
</div>
{{#about-us-video}}{{>./about-us-video}}{{/about-us-video}}