<div class="who-we-are-title">
    <h1 class="who-we-are-title-text">Who we are</h1>
    <p class="who-we-are-title-description">Problems trying to resolve the conflict between 
the two major realms of Classical physics: Newtonian mechanics </p>
</div>
{{#who-we-are-video}}{{>./who-we-are-video}}{{/who-we-are-video}}