<div id="search-modal-mobile" class="modal-mobile">


  <form class="modal-content-mobile">
    <span class="close-mobile" id = 'close-modal-btn-mobile'>&times;</span>
    <input type="text" class="search-input-mobile" placeholder="Search...">
      <button class="search-submit-mobile" type="submit" id="search-submit">Search</button>
  </form>

</div>