<div class="reviews-title">
    <h1 class="reviews-title-text">What Clients Say</h1>
    <p class="reviews-title-description">Problems trying to resolve the conflict between 
the two major realms of Classical physics: Newtonian mechanics </p>
</div>
<div class="review-cards-container">
    {{#each reviews}} 
    {{>./review-card/review-card}}
    {{/each}}
</div>