<div class='footer-title'>
    <h1 class='main-title'>Publish House</h1>
    <div class='social-media-container'>
        <a href='#' class="social-media-element" id='facebook'>facebook</a>
        <a href='#' class="social-media-element" id='insta'>insta</a>
        <a href='#' class="social-media-element" id='twitter'>twitter</a>
        <a href='#' class="social-media-element" id='youtube'>youtube</a>
    </div>
</div>