.footer-section {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 412px) {
        height: 1100px;
    }
    .footer-title {
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
        height: 142px;
        color: white;
        font-weight: bold;
        @media screen and (max-width: 412px) {
            flex-direction: column;
            align-items: flex-start;
        }
        .social-media-container {
            display: flex;
            width: 15%;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 412px) {
                width: 70%;
            }
            #facebook {
                background: url('img/footer/facebook.svg');
                height: 24px;
                width: 24px;
                color: #335bf5;
            }
            #insta {
                background: url('img/footer/insta.svg');
                height: 24px;
                width: 24px;

                fill: #335bf5;
            }
            #twitter {
                background: url('img/footer/twitter.svg');
                height: 20px;
                width: 24px;
                color: #335bf5;
            }
            #youtube {
                background: url('img/footer/youtube.svg');
                height: 18px;
                width: 25px;
                color: #335bf5;
            }
        }
    }
    hr {
        width: 70%;
        border: 1px solid #364067;
        @media screen and (max-width: 412px) {
            display: none;
        }
    }
    .useful-links-row {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin-top: 50px;
        @media screen and (max-width: 412px) {
            flex-direction: column;
        }
        .useful-links-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 170px;
            .container-title {
                font-weight: bold;
                color: white;
            }
            .link-element {
                font-size: 14px;
                color: #bdbdbd;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    color: #cecece;
                }
            }
        }
        .subscription {
            width: 30%;
            @media screen and (max-width: 412px) {
                width: 70%;
            }
            .subscription-title {
                color: white;
            }
            .subscription-bottom-text {
                font-size: 12px;
                font-weight: bold;
                color: #bdbdbd;
            }
            .subscription-email {
                display: flex;
                background: #fff;
                height: 60px;
                border-radius: 5px;
                align-items: center;
                .email-input {
                    width: 55%;
                    height: 50%;
                    padding: 15px;
                    border: none;
                    border-radius: 5px 0 0 5px;
                    &:focus {
                        outline: none;
                    }
                }
                .submit-email-btn {
                    height: 100%;
                    width: 45%;
                    border: none;
                    background: #ff7b47;
                    border-radius: 0 5px 5px 0;
                    color: white;
                    font-size: 14px;
                    &:hover {
                        background: #ffb654;
                    }
                }
            }
        }
    }
    .footer-bottom {
        background: #17213c;
        width: 100%;
        height: 70px;
        margin-top: 100px;
        color: white;
        display: flex;
        position: relative;
        clear: both;
        justify-content: center;
        .footer-bottom-text-container {
            width: 70%;
        }
    }
}
