<div class='footer-title'>
    <h1 class='footer-title__text'>Publish House</h1>
    <div class='footer-title__social-media-container'>
        <a href='#' class="footer-title__social-media-element" id='facebook'>facebook</a>
        <a href='#' class="footer-title__social-media-element" id='insta'>insta</a>
        <a href='#' class="footer-title__social-media-element" id='twitter'>twitter</a>
        <a href='#' class="footer-title__social-media-element" id='youtube'>youtube</a>
    </div>
</div>