$primary-color: #ff7b47;
$secondary-color: #ffb654;
$muted-color: #bdbdbd;
$second-text-color: #737373;
$light-text-color: #ffffff;
$text-color: #252b42;

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    @media screen and (max-width: 412px) {
        height: 1100px;
    }
    .footer-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 142px;
        color: $light-text-color;
        font-weight: bold;
        @media screen and (max-width: 412px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 100px;
        }
        .main-title {
            @media screen and (max-width: 412px) {
                margin: 60px 0 60px 0;
            }
        }
        .social-media-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 15%;

            @media screen and (max-width: 412px) {
                width: 55%;
            }
            .social-media-element {
                font-size: 1px;
                color: transparent;
            }
            #facebook {
                background: url('img/footer/facebook.svg');
                height: 24px;
                width: 24px;
            }
            #insta {
                background: url('img/footer/insta.svg');
                height: 24px;
                width: 24px;
            }
            #twitter {
                background: url('img/footer/twitter.svg');
                height: 20px;
                width: 24px;
            }
            #youtube {
                background: url('img/footer/youtube.svg');
                height: 18px;
                width: 25px;
            }
        }
    }
    hr {
        width: 70%;
        border: 1px solid #364067;
        @media screen and (max-width: 412px) {
            display: none;
        }
    }
    .useful-links-row {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin-top: 50px;
        @media screen and (max-width: 412px) {
            flex-direction: column;
        }
        .useful-links-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 170px;
            .container-title {
                font-weight: bold;
                color: $light-text-color;
            }
            .link-element {
                font-size: 14px;
                color: #bdbdbd;
                text-decoration: none;
                font-weight: 600;
                &:hover {
                    color: #cecece;
                }
            }
        }
        .subscription {
            width: 30%;
            @media screen and (max-width: 412px) {
                width: 100%;
            }
            .subscription-title {
                color: white;
            }
            .subscription-bottom-text {
                font-size: 12px;
                font-weight: 500;
                color: #bdbdbd;
            }
            .subscription-email {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #fff;
                height: 60px;
                border-radius: 5px;
                border: 1px solid #bdbdbd;
                @media screen and (max-width: 412px) {
                    height: 50px;
                }
                .email-input {
                    width: 65%;
                    height: 50%;
                    padding: 10px;
                    border: none;
                    @media screen and (max-width: 412px) {
                        width: 330px;
                    }
                    border-radius: 5px 0 0 5px;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        font-size: 14px;
                        font-weight: 500;
                        color: $muted-color;
                    }
                }
                .submit-email-btn {
                    height: 100%;
                    font-weight: 400;
                    width: 35%;
                    border: none;
                    letter-spacing: 1px;
                    background: $primary-color;
                    border-radius: 0 5px 5px 0;
                    color: white;
                    font-size: 14px;
                    &:hover {
                        background: $secondary-color;
                    }
                    @media screen and (max-width: 412px) {
                        width: 75%;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .footer-bottom {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70px;
        margin-top: 100px;
        color: $light-text-color;
        position: relative;
        clear: both;
        background: #17213c;
        font-size: 14px;
        font-weight: 600;
        .footer-bottom-text-container {
            width: 70%;
        }
    }
}
