<div class='footer__title'>
    <h1 class='footer__title-text'>Publish House</h1>
    <div class='footer__social-media-container'>
        <a href='#' class="footer__social-media-element" id='insta'>insta</a>
        <a href='#' class="footer__social-media-element" id='facebook'>facebook</a>
        <a href='#' class="footer__social-media-element" id='twitter'>twitter</a>
        <a href='#' class="footer__social-media-element" id='youtube'>youtube</a>
    </div>
</div>