{{>./footer-title}}
<hr>
<div class="useful-links-row">
   {{#each linkColArray}}
    {{>./links-container}}
   {{/each}}
    {{>./subscription}}
</div>
<footer class='footer-bottom'>
<div class='footer-bottom-text-container'>
    <h3 class='footer-text'>2022 All Right Reserved</h3>
</div>
