<div class="useful-links-col">
    <h4 class="container-title">{{colName}}</h4>
    {{!-- <a href="#" class="link-element">About Us</a>
    <a href="#" class="link-element">Carrier</a>
    <a href="#" class="link-element">We are hiring</a>
    <a href="#" class="link-element">Blog</a> --}}
    {{#each linkElements}}
        <a href="#" class="link-element">{{this}}</a>
    {{/each}}
</div>