<div class="useful-links-col">
    <h4 class="useful-links-col__title">{{colName}}</h4>
    {{#each linkElements}}
        <a href="#" class="useful-links-col__ref" aria-label="{{this}}">{{this}}</a>
    {{/each}}
</div>