<div class="footer-links-container">
    <h4 class="footer-links-container__title">{{colName}}</h4>
    {{#each linkElements}}
        <a href="#" class="footer-links-container__ref" aria-label="{{this}}">{{this}}</a>
    {{/each}}
</div>