<div class="subscription">
    <h1 class="subscription__title">Get In Touch</h1>
    <form class="subscription__form">
        <input type="email" required placeholder="Your Email" class="subscription__email-input">
        <button type="submit" class="subscription__submit-btn">Subscribe</button>
    </form>
    <p class="subscription__bottom-text">Lorem impsum dolor amit</p>
</div>