<div class="subscription">
    <h1 class="subscription-title">Get In Touch</h1>
    <form class="subscription-email">
        <input type="text" placeholder="Your Email" class="email-input">
        <button type="submit" class="submit-email-btn">Subscribe</button>
    </form>
    <p class="subscription-bottom-text">Lorem impsum dolor amit</p>
</div>