<div class='benefit-card'>
    <header class='benefit-card-header'>
        <div class='benefit-card-header-logo' style="background: url({{backgroundURL}});">
        </div>
        <h1 class='benefit-card-header-title'>{{headerTitle}}</h1>
    </header>
    <ul class='benefit-description'>
        {{#each benefits}}
        <li>{{this}}</li>
        {{/each}}
        <a href='{{hrefURL}}'>Learn more</a>
    </ul>

</div>