<div class='benefit-card'>
    <div class='benefit-card-header'>
        {{!-- remove header to sum tag h3 h4 --}}
        <div class='benefit-card-header-logo' style="background: url({{backgroundURL}});">
        </div>
        <h3 class='benefit-card-header-title'>{{headerTitle}}</h3>
    </div>
    <ul class='benefit-description'>
        {{!-- pseudoelemets --}}
        {{#each benefits}}
        <li>{{this}}</li>
        {{/each}}
        <a href='{{hrefURL}}'>Learn more</a>
    </ul>

</div>