@use './appointment-section/appointment-section';
@use './navbar/search-modal/search-modal-mobile';
@use './navbar/navbar-mobile';
@use './navbar/navbar';
@use './navbar/search-modal/search-modal';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #252b42;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
